/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* Styles gerais */

*{
    margin: 0;
    padding: 0;

    max-width: 1580px;
}

main{
    background-color: #160a01;
    overflow: hidden;
}


/* Styles NavBar */

nav{
    display: flex;
    /* position: absolute; */

    height: 80px;

    background-color: #160a01;
}

ul{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
    list-style: none;
    
    width: 100%;
    
    
}

li a{
    margin-top: 3%;
    text-decoration: none;
    color: 	#f1dabe;

    font-family: League Spartan;
    font-weight: 900;
    font-size: 25px;
}

li a:hover{
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em #ffefdb;
    transition: 0.5s;
}


/* Styles h1 e foto */
main{
    display: flex;

    width: 100%;
    height: 100%;
}

.MainInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 11%;
    
}

.title{
    margin-top: 6%;
    color: #ffefdb;

    font-family: Titillium Web;
    font-weight: 900;
    font-size: 80px;
}

.MainInfo .title span{
    color: #fdc37d;
}

.imgBackFoto{
    height: 25%;
    margin-left: 15%;
}