/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* Styles gerais */

*{
    margin: 0;
    padding: 0;

    max-width: 1580px;
}

main{
    background-color: #1b1b1b;
    overflow: hidden;
}


/* Styles NavBar */

nav{
    display: flex;
    position: sticky;

    height: 80px;

    background-color: #1b1b1b;
}

ul{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
    list-style: none;
    
    width: 100%;
    
}

li a{
    text-decoration: none;
    color: 	#fff1e2;

    font-family: League Spartan;
    font-weight: 900;
    font-size: 25px;
}

li a:hover{
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em #ffefdb;
    transition: 0.5s;
}


/* Styles h1 e foto */

section{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

    height: 750px;
    margin: 10px;
}

section h1{
    color: #FFF1E2;

    font-family: Titillium Web;
    font-weight: 900;
    font-size: 100px    ;
}

section p{
    color: #FFF1E2;
    font-weight: 600;
    font-size: 20px;
}

section h1 span{
    color: #B76E2D;
}

section img{
    width: 300px;
    height: 300px;
}


/* Linguagens */

.container{
    width: 100%;
    height: 500px;

    margin-top: 50px;
    padding: 20px;

    background-color: #555151;
}

.card{
    width: 300px !important;
    height: 300px !important;

    display: flex;
    align-items: center;

    background-color: #9F9689;
}

.card img{
    width: 100px;
    height: 100px;

    margin-top: -30px;
}